# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GunData.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Project\ApexPressGod\Res\GunData\.idea\.idea.GunData.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
